html {
    height: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
    margin: 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
    
.menu li {
    float: left;
}
    
.menu li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
/* Change the link color to #111 (black) on Hover */
.menu li a:hover {
    background-color: #111;
}

.menu li.active {
    background-color: #111;
}
.menu li.active a {
    color: white;
}

