html {
    height: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
    margin: 0;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-gap: 10px;
}

header {
    grid-row: 1 / span 1;
}

footer {
    text-align: center;
    grid-row: 4 / span 1;
}

nav {
    grid-row: 2 / span 1;
}

#content {
    grid-row: 3 / span 1;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
    
.menu li {
    float: left;
}
    
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
/* Change the link color to #111 (black) on Hover */
.menu li a:hover {
    background-color: #111;
}

